*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    
}

.header{
    height: 150px;
    background-color: rgb(150, 6, 6);
    text-align: center;
    align-items: center;
}
.header h2{
     font-family: "Montserrat", sans-serif;
     color: #fff;
     padding: 30px;
     font-size: 35px;
     font-weight: 200;
     letter-spacing: 7px;
}
.header p{
    color: #fff;
    font-size: 20px;
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
}